* {
  margin: 0;
  padding: 0; }

.body {
  font-family: Arial, Georgia, Verdana; }
  .body__item {
    display: flex;
    justify-content: center;
    padding: 0px 10px; }

.page {
  min-width: 1208px; }

.page-header__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 100px;
  margin-top: 92px;
  margin-bottom: 55px; }

.uplevel-menu {
  list-style-type: none; }
  .uplevel-menu__item {
    font-size: 14px;
    margin-bottom: 5px;
    padding-left: 70px; }
    .uplevel-menu__item:first-child {
      margin-top: 47px; }
    .uplevel-menu__item:hover {
      opacity: 0.7; }

.name-story {
  max-width: 380px; }
  .name-story__caption {
    font-size: 27px;
    font-style: oblique;
    font-weight: normal;
    color: #1669b1;
    line-height: 20px; }
    .name-story__caption-item {
      margin-left: 17px; }
  .name-story__story {
    margin-top: 17px;
    margin-left: 17px;
    font-size: 11px;
    line-height: 15px; }

.phone-adress {
  max-width: 145px; }
  .phone-adress__link {
    display: block;
    font-size: 15px;
    margin-top: 35px; }
    .phone-adress__link:hover {
      opacity: 0.7; }

.phone {
  font-family: Tahoma;
  font-size: 29px;
  color: #323232;
  line-height: 20px; }
  .phone__code {
    display: block;
    padding-left: 2px;
    font-size: 11px;
    color: #646d6e;
    vertical-align: top; }

.adress {
  font-size: 11px;
  color: #646d6e;
  line-height: 10px; }
  .adress__item {
    display: block;
    margin-top: 32px; }
  .adress__link {
    display: block; }
    .adress__link:hover {
      opacity: 0.7; }

.menu-list {
  display: flex;
  justify-content: center;
  font-size: 0px;
  background-color: #0062af; }
  .menu-list__item {
    display: inline-block;
    padding: 12px 0px;
    margin-right: 25px; }
    .menu-list__item:hover {
      transform: scale(1.1); }
  .menu-list__link {
    color: #ffffff;
    font-size: 19px;
    text-decoration: none;
    border-bottom: 2px solid #ffffff; }
    .menu-list__link:active {
      color: #646d6e;
      border-color: #646d6e; }

.photos {
  font-size: 0px; }
  .photos__item {
    margin-bottom: 55px; }

.news-name {
  border-right: 7px solid #0062af;
  height: 44px;
  padding-right: 30px; }
  .news-name__text {
    font-size: 31px;
    color: #1669b1;
    line-height: 25px; }
  .news-name__link {
    font-size: 10px;
    color: #1669b1;
    margin-left: 50px; }
    .news-name__link:hover {
      opacity: 0.7; }

.news__item {
  display: inline-block;
  margin-right: 30px;
  vertical-align: top; }

.news-items {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 80px; }
  .news-items__part {
    display: inline-block;
    max-width: 164px;
    margin-left: 30px; }
  .news-items__text {
    font-size: 11px;
    line-height: 15px; }
  .news-items__link {
    display: block;
    margin-bottom: 5px; }
    .news-items__link:hover {
      opacity: 0.7; }

.copyright {
  max-width: 274px;
  margin-bottom: 160px; }
  .copyright__text {
    font-size: 12px;
    color: #aeaa97; }
  .copyright__link:hover {
    opacity: 0.7; }
