html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.page {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #ffffff; }
  .page-inner {
    min-width: 1000px; }
  .page__wrapper {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px; }

.page-header {
  padding-top: 90px;
  padding-bottom: 55px; }
  .page-header__item {
    display: inline-block;
    vertical-align: top; }

.performance {
  display: inline-block;
  vertical-align: top;
  width: 310px; }
  .performance__logo {
    margin-left: -70px; }

.uplevel-menu {
  list-style-type: none; }
  .uplevel-menu__item {
    font-size: 14px;
    margin-bottom: 5px; }
    .uplevel-menu__item:first-child {
      margin-top: 47px; }
    .uplevel-menu__item:hover {
      opacity: 0.7; }

.description {
  width: 455px; }
  .description__caption {
    max-width: 250px;
    font-size: 27px;
    font-style: oblique;
    font-weight: normal;
    color: #1669b1;
    line-height: 20px; }
    .description__caption:before {
      content: "\00AB";
      margin-left: -13px; }
  .description__story {
    max-width: 330px;
    margin-top: 17px;
    font-size: 11px;
    line-height: 15px; }

.contacts {
  max-width: 145px; }
  .contacts__link {
    display: block;
    font-size: 15px;
    margin-top: 35px; }
    .contacts__link:hover {
      opacity: 0.7; }

.phone {
  text-decoration: none;
  font-family: Tahoma;
  font-size: 29px;
  color: #323232;
  line-height: 20px; }
  .phone__code {
    display: block;
    padding-left: 2px;
    font-size: 11px;
    color: #646d6e;
    vertical-align: top; }

.adress {
  font-size: 11px;
  color: #646d6e; }
  .adress__city {
    display: block;
    margin-top: 32px; }
  .adress__link {
    display: block; }
    .adress__link:hover {
      opacity: 0.7; }

.main-menu {
  background-color: #0062af; }

.menu-list {
  font-size: 0px; }
  .menu-list__item {
    display: inline-block;
    padding: 12px 0px;
    margin-right: 25px; }
    .menu-list__item:hover {
      transform: scale(1.1); }
  .menu-list__link {
    color: #ffffff;
    font-size: 19px;
    text-decoration: none;
    border-bottom: 2px solid #ffffff; }
    .menu-list__link:active {
      color: #646d6e;
      border-color: #646d6e; }

.photos {
  font-size: 0px; }
  .photos__item {
    height: 200px; }
  .photos__item--first {
    width: 30%; }
  .photos__item--second {
    width: 45%; }
  .photos__item--third {
    width: 25%; }

.topics {
  padding-top: 55px;
  padding-bottom: 80px; }
  .topics__part {
    display: inline-block;
    vertical-align: top; }
    .topics__part--left {
      width: 310px; }
  .topics__name {
    float: right;
    margin-right: 35px; }

.name {
  width: 115px;
  border-right: 7px solid #0062af;
  height: 44px;
  padding-right: 30px; }
  .name__text {
    font-size: 31px;
    color: #1669b1;
    line-height: 30px; }
  .name__link {
    font-size: 10px;
    color: #1669b1;
    float: right; }
    .name__link:hover {
      opacity: 0.7; }

.cards {
  list-style-type: none;
  margin-top: 10px; }
  .cards__part {
    display: inline-block;
    max-width: 164px;
    margin-right: 35px; }
    .cards__part:last-child {
      margin-right: 0px; }
  .cards__text {
    font-size: 11px;
    line-height: 15px; }
  .cards__link {
    display: block;
    margin-bottom: 5px; }
    .cards__link:hover {
      opacity: 0.7; }

.footer {
  padding-bottom: 150px; }
  .footer__part {
    display: inline-block;
    width: 310px; }

.copyrights {
  display: inline-block;
  max-width: 274px; }
  .copyrights__text {
    font-size: 12px;
    color: #aeaa97; }
  .copyrights__link:hover {
    opacity: 0.7; }
