.adress {  
    font-size: 11px;
    color: $color-phone-code;  
        &__city {
        display: block;
        margin-top: 32px;     
    } 
    &__link {
        display: block;
        &:hover {
            opacity: 0.7;
        }      
    }
}



