.cards {           
    &__part {
        display: inline-block;
        max-width: 46%; 
        margin-right: 24px;
        &:last-child {
            margin-right: 0px;  
        }       
    }
    &__text {
        font-size: 11px; 
        line-height: 1.4em; 
    }
    &__link {
        display: block;
        margin-bottom: 5px; 
        &:hover {
            opacity: 0.7;
        } 
    }
}

