.description {  
    width: 455px;     
    &__caption {
        max-width: 250px;
        font-size: 27px;
        font-style: oblique;  
        font-weight: normal;
        color: $color-blue; 
        line-height: 20px; 
        &:before {
            content:"\00AB";            
            margin-left: -13px;
        }  
    }        
    &__story {
        max-width: 330px;
        margin-top: 17px;        
        font-size: 11px;
        line-height: 15px;
    }
}