.description {  
    width: 360px;         
    &__caption { 
        margin-top: 6px;               
        font-size: 27px;
        font-style: oblique;        
        color: $color-blue; 
        line-height: 0.8em; 
        &:before {
            content:"\00AB";            
            margin-left: -18px;
        }  
    }        
    &__story {      
        margin-top: 13px;   
        font-size: 11px;
        line-height: 1.4em;
        
    }
}