.menu-list {    
    font-size: 0px;        
    &__item {
        display: inline-block;
        padding: 12px 0px;
        margin-right: 25px;
        &:hover {
            transform:scale(1.1)
        }
    }
    &__link {
        color: $color-menu-link;
        font-size: 19px;
        text-decoration: none;
        border-bottom: 2px solid $color-menu-link;
        &:active{
            color: $color-phone-code;
            border-color:$color-phone-code;
        }
    }
} 
 