.name-story {  
    max-width: 380px; 
    &__caption {
        font-size: 27px;
        font-style: oblique;  
        font-weight: normal;
        color: $color-blue; 
        line-height: 20px; 
        &-item {
            margin-left: 17px;    
        }
    } 
    &__story {
        margin-top: 17px;
        margin-left: 17px;
        font-size: 11px;
        line-height: 15px;
    }
}  