.name {
    width: 115px;
    border-right: 6px solid $color-menu;
    height: 45px;
    padding-right: 30px;
    &__text {  
        font-size: 31px;
        color: $color-blue;   
        line-height: 0.9em;
    }
    &__link{
        font-size: 10px;
        color: $color-blue;         
        float: right;
        &:hover{
            opacity: 0.7;
        }
    } 
} 