.page {  
    font-family: $font-primary;
    background-color: $color-menu-link;    
    &-inner {
      min-width: 1000px;
    }
    &__wrapper {
      max-width: 1100px;	
      margin-left: auto;
      margin-right: auto;		
      padding-left: 10px;
      padding-right: 10px;
    }
    &__item {
      display: inline-block;
      vertical-align: top; 
      &--contacts {
        margin-left: 86px; 
        padding-top: 2px;       
      }       
  }
}
