.page {  
    font-family: $font-primary;
    background-color: $color-white;    
    &__inner {
      min-width: 1000px;
    }
    &__wrapper {
      max-width: 1200px;	
      margin-left: auto;
      margin-right: auto;      
      padding-right: 10px;
      padding-left: 70px;
      &--photo {      
      padding-left: 0px;
      }
    }
    &__item {
      display: inline-block;
      vertical-align: top; 
      &--right {
        margin-left: 6.83%;                
      } 
      &--left {
        width: 25.76%;
      }  
      &--middle {
        width: 30.93%;        
      } 
      &--cards {
        margin-top: 10px; 
      }        
  }
}
