.phone {
    text-decoration: none;
    font-family: $font-phone;
    font-size: 29px;
    color: $color-phone; 
    line-height: 20px; 
    &__code { 
        display: block;
        padding-left: 4px;
        font-size: 11px;
        color: $color-phone-code;
        vertical-align: top;      
    } 
}

