.phone {
    text-decoration: none;
    font-family: $font-additional;
    font-size: 29px;
    color: $color-black-phone; 
    line-height: 0.7em; 
    &__code { 
        display: block;
        padding-left: 4px;
        font-size: 11px;
        color: $color-grey-phone;
        vertical-align: top;      
    } 
}

