.photos {  
    font-size: 0px;
    &__item { 
        height: 190px;        
    }
    &__item--first {
        width: 23%;       
    } 
    &__item--second {
        width: 46%;        
    }
    &__item--third {
        width: 20%;        
    }     
}