.photos {  
    font-size: 0px;
    &__item { 
        height: 200px;
    }
    &__item--first {
        width: 30%;
    } 
    &__item--second {
        width: 45%;
    }
    &__item--third {
        width: 25%;
    }     
}