.uplevel-menu {   
  list-style-type: none;
  &__item {
    font-size: 14px;
    margin-bottom: 5px;    
    &:first-child {
      margin-top: 47px;   
    }
    &:hover {
      opacity: 0.7;
    }
  }
}