$font-primary: Arial, "Helvetica Neue", Helvetica, sans-serif;;
$font-additional: Tahoma;
$color-blue: #1669b1;
$color-black-phone: #323232;
$color-grey-phone: #646d6e;
$color-blue-menu: #0062af;
$color-white: #ffffff;
$color-copyright: #aeaa97;