$font-primary:   Arial, Georgia, Verdana;
$font-phone: Tahoma;
$color-blue: #1669b1;
$color-phone: #323232;
$color-phone-code: #646d6e;
$color-menu: #0062af;
$color-menu-link: #ffffff;
$color-copyright: #aeaa97;